main {
    width: 100%; height: 100vh;
    background:  linear-gradient(-221deg, #FFF1F1 2.6%, #FFF 96.36%);;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 57% 43%;
    grid-template-rows: 105px 1fr;

    padding-left: 165px;

    font-family: "Josefin Sans";

}


.logo{
    grid-column: 1/2;
    display: flex;
    align-items: end;
    

}

.form {
    grid-column: 1/2;
}

.actress-img{
    grid-column: 2/3;
    grid-row: 1/3;

    background-image: url(./assets/actress-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

h1 {
    font-size: 64px;
    color: #423A3A;

    margin-top: 136px;
    font-weight: 600;
     
}

h1 span {
    display: block;
}

h1 span:first-child {
    color: #CE9898;
    font-weight: 300;
}
 

.about {
    color: #CE9898;
    font-size: 16px;
    font-weight: 400;

    width: 444px;
    margin-top: 32px;

}

.email-div {
    width: 445px;
    height: 56px;
    margin-top: 40px;
    position: relative;
}

.error-sms {
    position: absolute;
    left: 32px;
    bottom: -30px;
    
    visibility: hidden;

}

.error-svg {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translate(0%, -50%);

    visibility: hidden;

}

.visible-svg {
    visibility: visible;
}


.visible-span {
    visibility: visible;
    color: #F96464;
}

.input-email{
    width: 100%;
    height: 100%;
    background:none;
    border: 1px solid #CE9898;
    border-radius: 28px;
    opacity: 0.5;
    color: #423A3A;
    font-size: 16px;
    font-weight: 600;

    padding-left: 32px;
    box-sizing: border-box;
}

.input-email::placeholder {
    color: #CE9898;
    font-size: 16px;
    font-weight: 400;
}

.input-email:focus {
    outline: none;
    color: #423A3A;
    opacity: 1;

}

.btn-confirm {
    position: absolute;
    width: 100px;
    height: 100%;
    right: 0;
    background: none;
    border: none;
    border-radius: 28px;
    background-color: #EE8B8B;

    /* box-shadow: 0px 20px 30px 0.1px #EE8B8B; */

    cursor: pointer;

}

.btn-confirm svg {
    width: 15px;
}




@media only screen and (max-width: 953px) {

    main {    
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
        /* padding: 32px 32px 0px 32px;
        box-sizing: border-box; */
    }

    .logo img {
        width: 100px;
        order: 1;
        padding-left: 32px;
        padding-top: 32px;
        box-sizing: border-box;
    }

    .form{
        order: 3;
        padding: 0;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 70px;
        box-sizing: border-box;
    }
    
    .actress-img {
        order: 2;
        width: 100%; height: 225px;
        margin-top: 32px;
        background-image: url(./assets/actress-img-mobile.png);
        background-size: cover;
    }

    h1 {
        font-size: 40px;
        color: #423A3A;
        margin-top: 32px;         
    }

    .about {   
        width: 100%;
        margin-top: 16px;    
        font-size: 14px;
        line-height: 17px;
    }

    .email-div {
        width: 100%;
        height: 48px;
        margin-top: 40px;
        position: relative;
    }

    .input-email {
        font-size: 13px;
    }

    .input-email::placeholder {
        font-size: 13px;
    }
    
    .btn-confirm {
        width: 64px;
    
    }

    
    .error-svg {
        position: absolute;
        right: 25%;
    }

    .error-sms {
        bottom: -25px;
        font-size: 13px;    
    }

    



}

